@font-face {
    font-family: f1800s;
    src:url(fonts/1800s-fraktur.otf);
}
@font-face {
    font-family: f1810s;
    src: url("//db.onlinewebfonts.com/t/8eae210199b82750e8c100254296d14c.eot");
    src: url("//db.onlinewebfonts.com/t/8eae210199b82750e8c100254296d14c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8eae210199b82750e8c100254296d14c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/8eae210199b82750e8c100254296d14c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/8eae210199b82750e8c100254296d14c.svg#Antique") format("svg");
}
@font-face {
    font-family: f1820s;
    src:url(fonts/1810s-egiziano.otf);
}
@font-face {
    font-family: f1830s;
    src:url(fonts/1830s-thorowgood.ttf);
}
@font-face {
    font-family: f1840s;
    src:url(fonts/1840s-clarendon.ttf);
}
@font-face {
    font-family: f1850s;
    src:url(fonts/1850s-bamberg.ttf);
}
@font-face {
    font-family: f1860s;
    src:url(fonts/1860s-normande.otf);
}
@font-face {
    font-family: f1870s;
    src:url(fonts/1870s-ionic.otf);
}
@font-face {
    font-family: f1880s;
    src:url(fonts/1880s-hattan.ttf);
}
@font-face {
    font-family: f1890s;
    src:url(fonts/1890s-morris.ttf);
}
@font-face {
    font-family: f1900s;
    src:url(fonts/1900s-engravers.ttf);
}
@font-face {
    font-family: f1910s;
    src:
        url("//db.onlinewebfonts.com/t/3b303e246a0ce3c7575c1704602411f9.eot");
    src: url("//db.onlinewebfonts.com/t/3b303e246a0ce3c7575c1704602411f9.eot?#iefix")
    format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3b303e246a0ce3c7575c1704602411f9.woff2")
    format("woff2"),
    url("//db.onlinewebfonts.com/t/3b303e246a0ce3c7575c1704602411f9.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/3b303e246a0ce3c7575c1704602411f9.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/3b303e246a0ce3c7575c1704602411f9.svg#TypewriterGothicW01-Regular")
    format("svg"); }
@font-face {
    font-family: f1920s;
    src:url(fonts/1920s-baskerville.ttf);
}
@font-face {
    font-family: f1930s;
    src:url(fonts/1930s-playbill.ttf);
}
@font-face {
    font-family: f1940s;
    src:url(fonts/1940s-figaro.ttf);
}
@font-face {
    font-family: f1950s;
    src:url(fonts/1950s-mistral.ttf);
}
@font-face {
    font-family: ocr-a-std, monospace; /* 1960s*/
}
@font-face {
    font-family: f1970s;
    src:url(fonts/1970s-friz.otf);
}
@font-face {
    font-family: f1980s;
    src:url(fonts/1980s-lcd.ttf);
}
@font-face {
    font-family: f1990s;
    src:url(fonts/1990s-elephant.ttf);
}
@font-face {
    font-family: f2000s;
    src: url("//db.onlinewebfonts.com/t/f4a42a46693c26e519d1dac35659f45d.eot");
    src: url("//db.onlinewebfonts.com/t/f4a42a46693c26e519d1dac35659f45d.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4a42a46693c26e519d1dac35659f45d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f4a42a46693c26e519d1dac35659f45d.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f4a42a46693c26e519d1dac35659f45d.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f4a42a46693c26e519d1dac35659f45d.svg#CA Monodon") format("svg");
}

h1{
    text-align:center;
    font-family: 'Merienda', cursive;
    margin-top: 5%;
}
body{
    background-image:url('old-paper.jpg')
}

input{
    width: 618px;
    font-size:18px;
    font-family: 'Merienda', cursive;
    background: #FFFFFF;
    border: 2px solid #000000;
    padding:10px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left:auto;
    margin-right:auto;
}
form{
    width: 618px;
    font-size:20px;
    padding:10px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left:auto;
    margin-right:auto;
}
#output{
    font-family: 'Merienda', cursive;
    width: 50%;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.eights {
    font-family: f1800s;
    font-size: 30px;
}
.legEights {
    font-family: f1800s;
}
.eights-one {
    font-family: f1810s;
    font-size: 30px;
}
.legEights-one {
    font-family: f1810s;
}
.eights-two {
    font-family: f1820s;
    font-size: 30px;
}
.legEights-two {
    font-family: f1820s;
}
.eights-three {
    font-family: f1830s;
    font-size: 30px;
}
.legEights-three {
    font-family: f1830s;
}
.eights-four {
    font-family: f1840s;
    font-size: 30px;
}
.legEights-four {
    font-family: f1840s;
}
.eights-five {
    font-family: f1850s;
    font-size: 30px;
}
.legEights-five {
    font-family: f1850s;
}
.eights-six {
    font-family: f1860s;
    font-size: 30px;
}
.legEights-six {
    font-family: f1860s;
}
.eights-seven {
    font-family: f1870s;
    font-size: 30px;
}
.legEights-seven {
    font-family: f1870s;
}
.eights-eight {
    font-family: f1880s;
    font-size: 30px;
}
.legEights-eight {
    font-family: f1880s;
}
.eights-nine {
    font-family: f1890s;
    font-size: 30px;
}
.legEights-nine {
    font-family: f1890s;
}
.nines {
    font-family: f1900s;
    font-size: 30px;
}
.legNines {
    font-family: f1900s;
}
.nines-one {
    font-family: f1910s;
    font-size: 30px;
}
.legNines-one {
     font-family: f1910s;
 }
.nines-two {
    font-family: f1920s;
    font-size: 30px;
}
.legNines-two {
    font-family: f1920s;
}
.nines-three {
    font-family: f1930s;
    font-size: 30px;
}
.legNines-three {
    font-family: f1930s;
}
.nines-four {
    font-family: f1940s;
    font-size: 30px;
}
.legNines-four {
    font-family: f1940s;
}
.nines-five {
    font-family: f1950s;
    font-size: 30px;
}
.legNines-five {
    font-family: f1950s;
}
.nines-six {
    font-family: f1960s;
    font-size: 30px;
}
.legNines-six {
    font-family: f1960s;
}
.nines-seven {
    font-family: f1970s;
    font-size: 30px;
}
.legNines-seven {
    font-family: f1970s;
}
.nines-eight {
    font-family: f1980s;
    font-size: 30px;
}
.legNines-eight {
    font-family: f1980s;
}
.nines-nine {
    font-family: f1990s;
    font-size: 30px;
}
.legNines-nine {
    font-family: f1990s;
}
.oughts {
    font-family: f2000s;
    font-size: 30px;
}
.legOughts {
    font-family: f2000s;
}

.legEights,
.legEights-one,.legEights-two,.legEights-three,.legEights-four,.legEights-five,
.legEights-six,.legEights-seven,.legEights-eight,.legEights-nine,.legNines,
.legNines-one,.legNines-two,.legNines-three,.legNines-four,.legEights-five,.legNines-six,.legNines-seven,.legNines-eight,.legNines-nine,
.legOughts {
    text-shadow:
            -1px -1px 0 #909090,
            1px -1px 0 #909090,
            -1px 1px 0 #909090,
            1px 1px 0 #909090
}

#graph1{
    background: #FFFFFF;
}

#graph2{
    background: #FFFFFF;
}


