body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

line {
    stroke-width: 1;
    stroke: black;
}

#social_line_vis {
    width: 700;
    padding: 10;
    margin-bottom: 20px;;
    /* display: inline-block; */
}