<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
    <script src="http://d3js.org/d3.v4.min.js"></script>
</head>
<body>
<svg id="positiveStats"></svg>
<svg id="positiveStatsLine"></svg>
</body>
<script>
    window.onload = function(){
        getIdTypeCsv()
    }
</script>
<script defer src="/script.js"></script>
</html>